@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "F1";
  src: url("../public/fonts/f1_bold.ttf");
}

@font-face {
  font-family: "Titillium";
  src: url("../public/fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "F1 Regular";
  src: url("../public/fonts/Formula1\ Display\ Regular.ttf");
}
